@charset "UTF-8";
/* CSS Document */
<style>
*{
  box-sizing: border-box;
}

body{
  background: url("images/flag.jpg") no-repeat;
  background-size: cover;
}

#container{
	width:900px;
	margin:0 auto;
}

header{
 background-color: powderblue;
 padding: 30px;
 text-align: center;
 font-size: 35px;
 color: white;
}

header h1 {
  font-family: masqualero, sans-serif;
  font-weight: 400;
  font-style: normal;
	color: rgba(97,96,96,.7)
}

nav{
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
	text-align: center;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a:link {
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  color:rgba(104,104,104,.75);
  text-decoration: none;
  margin-right: 20px;
}

nav a:visited {
}

nav a:hover {
  color:rgba(104,104,104,1);
}

nav a:active {
  text-decoration: underline;
}

.left{
	width: 400px;
	float:left;
	margin-top:30px;
	margin-bottom: 30px;
}

.right{
	width: 400px;
	float:left;
	margin-left: 30px;
	margin-top:30px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
}

footer{
	color: white;
  padding: 10px;
  text-align: center;
  clear: both;
	}
